.navbar-brand {
    margin-left: 15px;
    text-decoration: none;
}

.navbar-brand span {
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.8s;
    transition-property: background;
}

.navbar .nav-item .nav-link {
    padding: 5px;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
    /* background-color: black; */
    border-radius: 10px;
    transition: 0.5s;
    transition-property: background;
}

.nav-link:hover {
    background: #ff3399;
    text-decoration: none;
}

.header-nav {
    background: linear-gradient(to right, #000000, #000000, #00a2ff, #00a2ff);
    height: 65px;
}